name: Cloud Run Deploy

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Google Auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          # GitHub Variablesから値を読み込む (${{ vars.名前 }})
          workload_identity_provider: ${{ vars.GCP_WIF_PROVIDER }}
          service_account: ${{ vars.GCP_SA_EMAIL }}

      - name: Deploy to Cloud Run
        id: deploy
        uses: google-github-actions/deploy-cloudrun@v2
        with:
          service: 'ml-app'
          region: 'asia-northeast1'
          source: './'
          # プロジェクトIDも変数から読み込み
          project_id: ${{ vars.GCP_PROJECT_ID }}
          flags: '--allow-unauthenticated'

      - name: Show Output
        run: echo "Deployed to ${{ steps.deploy.outputs.url }}"
